$miMap:(
	light:300,
	regular:400,
	medium:500,
	semi-bold:600,
	bold:700,
	extra-bold:800
);

$point-xl: 1200px;
$bgColor: #181818;
$point-md: 768px;
$weight: 100%;
$height: 100%;
$mainColor: #fff;


